@model IEnumerable<WorkSchedule.Models.DictTeam>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    @Html.ActionLink("Create a new", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DictDepartment.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DictTeamForeignID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DictDepartment.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DictTeamForeignID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DictTeamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DictTeamID })
        </td>
    </tr>
}

</table>
