@model WorkSchedule.Models.DictDepartment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DictDepartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DictDepartmentForeignID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DictDepartmentForeignID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DictDepartmentID }) |
    @Html.ActionLink("Back to the list", "Index")
</p>
